{{ define "main" }}
  <h1 class="single-title">{{ .Title }}</h1>

  <div class="single-meta">
    <div class="single-main">
      <h3 class="single-author">by: {{ .Params.Author }}</h3>
      <h3 class="single-date">{{ .Date.Format "Monday Jan 2, 2006"}}</h3>
    </div>
    <p class="single-wordc">{{ .WordCount }} words </p>
  </div>

  <div class="single-categories">
    {{ with .Params.Categories }}
    <p>categories </p>
        {{ range . }}
        <p><a class="link" href="{{"categories/" |absURL}}{{ . | urlize }}">{{ . }}</a></p>
        {{ end }}
    {{ end }}
  </div>

  <div class="single-tags">
    {{ with .Params.Tags }}
    <p>tags </p>
        {{ range . }}
        <p><a class="link" href="{{"tags/" |absURL}}{{ . | urlize }}">{{ . }}</a></p>
        {{ end }}
    {{ end }}
  </div>

  <div class="single-content">
    {{ .Content }}
  </div>

  <div class="single-other">
    <h3>Why stop here? Keep reading...</h3>
    <div class="single-other-opts">
    {{ with .PrevInSection }}
    <p>previous post:
      <a class="previous link" href="{{.Permalink}}"> {{.Title}}</a>
    </p>
    {{ end }}
    {{ with .NextInSection }}
    <p>next post: 
      <a class="next link" href="{{.Permalink}}"> {{.Title}}</a>
    </p>
    {{ end }}
    </div>
  </div>

  <div class="single-disqus">
    {{ template "_internal/disqus.html" . }}
  </div>


{{ end }}
