body {
  background-color: #fffff7;
}

/* HEADER */
.navbar-container{
    display: flex;
    justify-content: center;
}

.navbar {
    width: 900px;
    display: flex;
    justify-content: space-around;
  }

.navitem {
      padding-top: 60px;
      font-family: 'Righteous';
      font-size: 20px;
  }
  
  a {
    text-decoration: none;
    color: #fdadb7
}

/* INDEX */
.welcome {
  font-family: 'Londrina Outline', cursive;
  font-size: 100px;
  color: #ebdb0f;
}

.description{
  font-family: 'Londrina Solid', sans-serif;
  font-size: 30px;
  color: #382500;
}