html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

// html {

//   }
body {
	background-color: $color_cream;
	padding: 0;
	margin: 0;
	font-family: 'Crete Round', serif;
	color: $color_dark;
}

#content {
	padding: 0;
	position: absolute;
	width: 100%;
	margin: 0;
  }

a {
  text-decoration: none;
  transition: color 1s ease;
  color: $color_dark;
}

a:hover { color: #fed330; }

.link{
	// font-weight: 700;
	text-decoration: none;
}

/*
* These styles creates the underlining of link
*/

.link{
	position: relative;
	z-index: 1;
	// display: inline-flex;
	// padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
}

.link::before{
	content: "";
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, #fed330 25%, rgba(0, 0, 0, 0) 40%);
	
	position: absolute;
	left: 0;
	bottom: 2px;
	z-index: -1;
	
	will-change: width;
	transform: rotate(-2deg);
	transform-origin: left bottom
}

.link:hover::before{
	width: 0;
}

/*
* animation styles
*/

.link::before{
	transition: width .1s ease-out;
}

.link:hover::before{
	transition-duration: .15s;
}
