.footer-container{
    background-color: $color_dark_pink;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr .5fr .5fr;
    grid-template-rows: 1fr;
}

.address-container p{
    font-family: 'Abel', sans-serif;
    font-size: 15px;
    margin: 2px;
}

.address-container h2{
    font-family: 'Righteous', sans-serif;
    font-size: 10px;
}

.icon-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
}

.icon{
    padding: 5px;
    margin: 2px;
}

.fab{
    color: $color_cream;
}