/* HEADER */

header {
  display: grid;
  // grid-template-areas: "a a a a b b";
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0;
  align-items: center;
  @include responsive($sm){
    grid-template-columns: 1.5fr .5fr;
  }
}

#title-container {
  padding-left: 3em;
}

#icon-container {
  padding-right: 3em;
  justify-self: right;
  @include responsive($sm){
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 0;
  }
}

.fab, .fas {
  @include responsive($sm){
    font-size: 100px;
  }
}

#icon-container i {
  display: inline-block;
  padding-left: 20px;
  font-weight: 900;
  @include responsive($sm){
    margin-bottom: 5px;
  }
}

#title {
  font-family: 'Baloo Bhaijaan', cursive;
  color:#484043;
  font-size: 2em;
  @include responsive($sm){
    font-size: 8em;
  }
}

