/* HEADER */

header {
  width: 100%;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#title-container {
  padding-left: 5%;
}

#title {
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 2rem;
}

#icon-container {
  padding-right: 5%;
  justify-self: right;
}

#icon-container i {
  padding-left: 2vw;
}

// mobile design
@media (max-width: 640px) {

  header {
    grid-template-columns: 1.5fr .5fr;
    align-items: start;
    padding-top: 1vh;
  }

  #icon-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .fab, .fas {
    font-size: 3rem;
  }

  #title {
    font-size: 2.5rem;
  }
}


