/* INDEX */

// banner 
.welcome-container {
    display: grid;
    grid-template-columns: .5fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    justify-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("/images/banner_shapes.png");
    /* Set a specific height */
    height: 400px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .empty.left{
    grid-column: 1 / 2;
  }
  
  .empty.right{
    grid-column: 3 / 4;
  }

  .message-container{
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr .7fr;
    background-color: rgba(255, 255, 247, .8);
    border: 4px solid $color_black;
    padding: 30px 20px;
  }
  
  .welcome {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: $color_black;
    grid-column: 2 / 3;
    text-align: center;
  }
  
  .description{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: $color_black;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-align: center;
  }

  .header-container {
    margin-top: 120px;
  }

  // showcase

  .showcase-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 400px;
    padding: 40px;
    margin-bottom: 80px;
  }

  .showcase-post{
    margin: 30px;
    padding: 10px;
    height: 90%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr .5fr;
    box-shadow: 10px 10px 5px rgba(165, 165, 165, .5);
    // box-shadow: 0 10px 0px -6px $color_light_mint;
    // border: .5px solid $color_black;
  }


  .post-info-container{
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 1fr;
  }

  .post-info{
    background-color: $color_pink_alt;
    border: 2px solid $color_black;
    padding: 5px 10px;
  }

  .info-title a{
    font-family: 'Righteous', sans-serif;
    font-size: 15px;
    color: $color_black;
    margin: 0px;
  }

  .info-text {
    font-family: 'Abel', sans-serif;
    font-size: 10px;
    color: $color_black;
    margin: 0px;
  }