.single-container{
    display: grid;
    grid-template-columns: .25fr 1fr .25fr;
    grid-template-rows: 1fr;
}

.single-container h1{
    font-family: 'Righteous', sans-serif;
    font-size: 50px;
}

.single-container article img{
    width: 90%;
}