.pagination-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination-item{
    display: grid;
    background-color: rgba(255, 255, 247, .5);
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    border: 1px solid $color_black;
}

.pagination-item i{
    color: $color_black;
}

.pagination-item a{
    font-family: 'Righteous', sans-serif;
    font-size: 10px;
    color: $color_black;
}
// .pagination-item--first{
//     grid-column: 1 / 2;
// }

// .pagination-item--previous{
//     grid-column: 2 / 3;
// }

// .pagination-item--three{
//     grid-column: 3 / 4;
// }

// .pagination-item--next{
//     grid-column: 7/ 8;
// }

// .pagination-item--last{
//     grid-column: 8 / 9;
// }