.single-title{
    font-size: 8rem;
    justify-self: center;
    text-align: center;
    width: 100%;
    margin: 1vh;
}

.single-meta {
    justify-self: center;
    justify-content: center;
    width: 100%;
    text-align: left; 
    display: grid;
    grid-template-rows: 1fr .5fr;
}

.single-main {
    width: 100%;
    margin: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.single-tags {
    font-size: .9em;
    justify-self: center;
    width: 100%;
    text-align: left;
    display: flex;
    margin: 5vw;
}

@media (max-width: 640px) {
    .single-title{
        font-size: 12vw;
    }

    .single-meta {
        font-size: .75rem;
    }
}





.single-tags p{
    justify-self: flex-start;
    margin-right: 1em;
}

.single-content {
    font-size: 1em;
    justify-self: center;
    width: 70vw;
}

.single-categories {
    font-size: .9em;
    justify-self: center;
    width: 70vw;
    text-align: left;
    display: flex;
}

.single-categories p{
    justify-self: flex-start;
    margin-right: 1em;
}

.single-other{
    width: 70vw;
    justify-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.single-other-opts {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.single-disqus{
    width: 70vw;
    justify-self: center;
}