$color_pink      : #fdadb7;
$color_light_pink: #f6d0c0;
$color_pink_alt  : #f4ccc8;
$color_dark_pink : #eeb3a4;
$color_light_mint: #c5e6e1;
$color_mint      : #b4dbc0;
$color_dark_mint : #84a38d;
$color_yellow    : #ebdb0f;
$color_gold      : #f4be1a;
$color_cream     : #fffff6;
$color_dark      : #484043;
$color_black     : #000000;

$color_pink_base : #f6f2f0;
$color_pink_font : #f7a98f;