<header class="header">
    <ul class="navbar">
        {{ range .Site.Menus.main }}
        {{ if eq .Name "Logo"}}
        {{ $logo := $.Site.Params.Logo }}
          <li><a href="{{ .URL | absURL }}"><img src="{{ $logo.URL }}" alt="{{ $logo.Alt }}" width="{{ $logo.Width }}" height="{{ $logo.Height }}"/></a></li>
        {{ else }}

            <li class="navitem">
                    <a href="{{ .URL | absURL }}">{{ .Name }}</a>
            </li>
        {{ end }}
        {{ end }}
    </ul>
</header>