{{ define "main" }}
  <div class="welcome-container">
    <div class="empty left"></div>
    <h1 class="welcome">{{ .Site.Params.WelcomeMessage | markdownify }}</h1>
    <h2 class="description">{{ .Site.Params.Description | markdownify }}</h2>
    <div class="empty right"></div>
  </div>
  {{ range .Data.Pages }}
    {{ if eq .Type "post" }}
    {{range first 2 .Pages.ByPublishDate.Reverse }}
      <div>
        <p>
          <a href="{{ .RelPermalink }}">{{ .Title }} </a> {{ if .Params.Author }} by {{ .Params.Author }} {{ end }}
        </p>
      </div>
    {{ end }}
    {{ end }}
  {{ end }}
{{ end }}